* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color:#f4f4f4;
}

header {
    padding: 20px;

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
    background-color:#5becff;
}

header > img {
    border-radius: 6px;

    background-color: #ffffff;
}

nav {
    display: flexbox;
    justify-content: space-evenly;

    padding: 12px;
    border-radius: 6px;

    text-align: center;
    text-decoration: none;

    background-color: #353535;
}

nav a {
    margin: 15px;

    text-decoration: none;

    color: white;
}

nav a:hover {
    padding: 5px;
    border-radius: 6px;

    text-decoration: none;

    color: #000000;
    background-color: #ffffff;
}

nav a:hover::after {
    content: '<';
    font-family: 'Material Icons';
    width: 100%;
    background-color: white;
}

nav a:active {
    background-color: #aaaaaa;
}

nav a:visited {
    background-color: #94fdae;
}

div {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;

    background-color: #b7f7ff;
}

div > div {
    padding: 35px;

    background-color: #ffffff;
}

h3.subtitulo {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5becff;

    color: #399daa;
}

section img {
    height: auto;
    width: 20%;
    margin: 20px 0;
    border-radius: 6px;
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;

    background-color: white;
}

iframe {
    display: block;
    justify-content: center;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 6px;

    background-color: #ffffff;
}

pre {
    padding: 15px;

    border-left: 4px solid #5becff;
    font-size: 15px;
    line-height: 1.4;

    font-family: 'Georgia', serif;
    white-space: pre-wrap;

    background-color: #ffffff;
}

label {
    font-size: medium;
}

input {
    font-size: medium;
}

label, input {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 2px 5px #000000;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6dcedb;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;

    color: #6dcedb;
}

a:hover {
    text-decoration: underline;
}

ol {
    list-style-type: circle;

    color: #000000;
}

ol li:nth-child(odd) {
    color: #00bcd4;
}

ul {
    padding: 20px;
    border-radius: 8px;

    list-style-type: upper-roman;

    background-color: #ffffff;
}

li {
    margin-bottom: 6px;

    font-size: 2em;
}

p {
    line-height: 1.4;

    font-size: 16px;
}

.subtitulo {
    margin-bottom: 15px;

    font-size: 22px;

    color: #6dcedb;
}

#fotografias a:hover {
    cursor: zoom-in;
}


footer {
    padding: 10px;

    text-align: center;

    color: #ffffff;
    background-color: #353535;
}