* {
    box-sizing: border-box;
    margin:0;  
    padding:0;  
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #000000;
    background-color: #eeeeee;
}

header {
    display: flex;

    flex-wrap: wrap;

    width: 100vw;
    justify-content: space-between;
    align-items: center;

    color: #000000;
    background-color: #ffffff;
}

h1 {
    margin-left: 15px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

nav a {
    
    padding: 20px;

    text-decoration: none;

    color: #5a5a5a;
}

nav a:last-child {
    color: #5a5a5a;
    background-color: #e2e2e2;
}

nav a:hover {
    color: #000000;
    background-color: #70eeff;
}

nav a:active {
    background-color: #c0c0c0;
}

nav a:visited {
    background-color: #94fdae;
}

#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50vh;
    width: 100vw;

    text-align: center;
    font-size: 2em;
    font-weight: bold;

    background-color: #a9f5ff;
}

#poema em {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 0.5em;
    font-style: italic;
}

#paisagem div {
    position: relative;
}

#paisagem img {
    width: 100vw;
}

#paisagem a {
    position: absolute;

    bottom: 20px;
    right: 20px;

    color: #ffffff;
}

#cidades {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#cidades section {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 20px;
    border-radius: 15px;

    background-color: #ffffff;
}

#cidades section:hover {
    background-color: #e0e0e0;
}

#cidades img {
    width: 100px;
    border-radius: 15px 0 0 15px;
}

#cidades div {
    height: 100%;
    width: 100px;

    text-align: center;
}

.parallax {
    background-image: url("images/clouds_mountains.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 40px;

    color: #ffffff;
}

#video_background {
    width: 100%;
    height: 100%;
}

#experimenta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#experimenta div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50px;

    visibility: hidden;
    background-color: #a9f5ff;
}

#experimenta:hover div {
    visibility: visible;
}

footer {
    padding: 10px;

    text-align: center;

    color: #ffffff;
    background-color: #353535;
}